@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@400;500;600;700&display=swap');

/* 국문 font-family: 'Gowun Dodum'; */
/* 영문 font-family: "DM Serif Display", serif; */
/* 노토산스kr  font-family: "Noto Sans KR", serif; */
/* 기본 노토산스 font-family: "Noto Sans", sans-serif; */
/* 수정 영문폰트   font-family: "Ruwudu", serif; */


.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 99vw;
    height: 99vh;
    margin: 0;
    text-align: center;
    margin: 0 auto;
}
/* .header { display: flex;} */
.back {
position: absolute;
top: 1.5rem;
right: 4vw;
}

.x {
    padding: 0;
    width: 2.2rem;
}
.loginfs {

}

.logintext1 {
    font-size: 1.3rem;
    
}
.idsm { 
    width: 90%;
    height: 2.8rem; 
    border: 0.5px solid rgb(173, 173, 173);
    border-radius: 8px;  
     
}
.passwordsm {
    width: 90%;
    height: 2.8rem;  
    border: 0.5px solid rgb(173, 173, 173);
    border-radius: 0.5rem;  
    margin-top: 0.5rem;
   
}
.autologin {
    border-radius: 0.5rem;
    appearance: none;
    border: 1px solid rgb(173, 173, 173);
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.8rem;
}
.saveid {
    border-radius: 0.8rem;
    appearance: none;
    border: 1px solid rgb(173, 173, 173);
    width: 1.3rem;
    height: 1.3rem;
   
    
}
.label1 { 
    position: relative;
    top: -0.55rem;
    left: 0.2rem;
    font-size: 0.8rem;

}
.label2 { 
    position: relative;
    top: -0.55rem;
    font-size: 0.8rem;
}
.ckbx {
    padding: 0rem;
    width: 90%;
    text-align: start;
    display: flex;
    margin: 1vh 0 1vh 5vw;
}
.loginbutton {
    width: 92%;
    height: 2.8rem;
    border-radius: 0.5rem;
    appearance: none;
    border: 0;
}
section {
    display: flex;
    align-content: center;
    text-align: center;
}
.phonelogin {width: 25%; }
    .kakaologin {width: 25%; }
    .naverlogin { width: 25%;}
    .addlogin {width: 25%;}
.cb1sm, .cb2sm {width: 50%;}

img {
    width: 3.5rem;
    padding-top: 2vh;
}
p {
    font-size: 0.8rem;

}

ul {
    padding: 0;
    display: flex;
    width: 78%;
    margin: 1.5rem auto;
    
}
li {
    list-style: none;
    font-size: 0.8rem;
    color: gray;
}
hr {
    border-color: rgb(248, 248, 248,0.5);
    border-style: thin;
}
.joinbox {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 0.5rem;
    display: flex;
    width: 95%;
    height: 2.8rem;
    align-items: center;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    
    
}
.joinbox_1 {
    width: 50%;
    text-align: start;
    text-decoration: none;
    padding: 0 0.5rem;
}
.joinbox_2 {
    width: 50%;
    text-align: end;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.5rem;
    align-items: center;
    justify-items: center;    
}

.t1 {
    width: 230%;
}

@media screen and (min-width: 768px) {
    .phonelogin {width: 25%; }
    .kakaologin {width: 25%; }
    .naverlogin { width: 25%;}
    .addlogin {width: 25%;}
    .section {width: 50%; text-align: center;} 
    .page {width: 80%; height: 99vh;}
    .p { width: 100%; margin: 0 auto; }
}
@media screen and (min-width: 1440px){
    .page { width: 50vw; height: 99vh;}
}

